


@media only screen and (min-width: 376px) {
 
  
  .stars_container {
    padding: 0 25px;
  }  
  .stars1 {
    align-self: flex-start;
  }
  .stars3 {
    align-self: flex-end;
  }
  .stars_container {
    padding: 0 14px;
  }
  .card1 {
    align-self: flex-start;
  }
  .card3 {
    align-self: flex-end;
  }
  }








